<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/styles/pages/index.css" />
    <title>Blog_Progamation_WL</title>
    
</head>
<body>
   
    <header>
        <div class="Title-logo">
            <span class="title"><a href="#">WL_Programador</a></span>

        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Usuarios</a></li>
                <li><a href="#">Cadastre-se</a></li>
            </ul>
        </nav>
    </header>

    <div class="containerTitle">
        <h2>Último Artigos Publicados</h2>
    </div>
</body>
</html>