<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>PAGINA USUARIOS</h1>

    <table border="1">
        <tr>Nome </tr>

        <tr>Email </tr>
        <%for(usuario of usuarios){%>
        <tr>
            <td><%=usuario.name %></td>
            <td><%=usuario.email %></td>
        </tr>
        <%} %>
    </table>
</body>
</html>